.header {
  min-height: 20vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 10px #ffffff;
}

.title{
  font-size: 30px;
}

.filter_button{
  margin-top: 24px;
  margin-right: 5px;
  background: rgb(204, 120, 253);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}
